body {
  background-color: black;
  margin: none;
  padding: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1.5fr 1fr 1.5fr;
  gap: 1vh 1vh;
  grid-auto-flow: row;
  grid-template-areas:
    "topleft topleft topright"
    "bottomleft logo topright"
    "bottomleft bottomright bottomright";
  transition: grid-template-columns 1s, grid-template-rows 1s;
}

.logo { 
  grid-area: logo;
  background-color: #fada5e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topleft { 
  grid-area: topleft; 
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topleft:hover {
  background-color: #fada5e;
}

.topright { 
  grid-area: topright;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topright:hover {
  background-color: #fada5e;
}

.bottomleft { 
  grid-area: bottomleft;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomleft:hover {
  background-color: #fada5e;
}

.bottomright { 
  grid-area: bottomright; 
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomright:hover {
  background-color: #fada5e;
}
